<!DOCTYPE html>
<html lang="nl-be">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camerascreen</title>
    <link rel="stylesheet" href="{{url_for('static', filename='stylefour.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  

    <script>
        $(document).ready(function(){

            let motorTimeout = null;

            let ledTimeout = null;

            $("#speeltjeButton").click(function(e){
                e.preventDefault();

                $("#speeltjeMenu").show();

                
                $.ajax({
                    type: "GET",
                    url: "/toy_on",  
                    success: function(response) {
                        
                        ledTimeout = setTimeout(function() {
                            $("#speeltjeMenu").hide();
                        }, 60000); 
                    },
                    error: function() {
                        alert("Er was een probleem bij het activeren van het speeltje.");
                    }
                });
            });

            $("#stopButton").click(function() {
                $.ajax({
                    type: "GET",
                    url: "/toy_off", 
                    success: function(response) {
                        clearTimeout(ledTimeout);  
                        $("#speeltjeMenu").hide();
                    },
                    error: function() {
                        alert("Er was een probleem bij het stoppen van het speeltje.");
                    }
                });
            });

            $("#stoplaterButton").click(function(e) {
                e.preventDefault();

                const minutes = parseInt($("#Input").val());
                if (isNaN(minutes) || minutes <= 0) {
                    alert("Geef een geldig aantal minuten op.");
                    return;
                }

                const durationMs = minutes * 60000;

                $.ajax({
                    type: "POST",
                    url: "/toy_extend",
                    contentType: "application/json",
                    data: JSON.stringify({ duration: durationMs }),
                    success: function(response) {
                        $("#speeltjeMenu").hide(); 
                    },
                    error: function() {
                        alert("Er was een fout bij het verlengen van het speeltje.");
                    }
                });
            });
    
            $("#rotateButton").click(function(e){
                e.preventDefault();

                $("#snoepjeMenu").show();

                motorTimeout = setTimeout(function() {
                    $.ajax({
                        type: "POST",
                        url: "/rotate_motor",
                        success: function(response) {
                            $("#confirmation").css({
                                "transform": "translate(-50%, 0%)",
                                "opacity": "1"
                            });
    
                            setTimeout(function() {
                                $("#confirmation").css({
                                    "transform": "translate(-50%, -150%)",
                                    "opacity": "0"
                                });
                            }, 3000);
                        },
                        error: function() {
                            alert("There was an error rotating the motor.");
                        }
                    });

                    $("#snoepjeMenu").hide();
                }, 3000);
            });

            $("#cancelButton").click(function() {
                clearTimeout(motorTimeout); 
                $("#snoepjeMenu").hide();  
            });
    
            
        });
    </script>

    <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div class="app-box">
        <img src="{{url_for('static', filename='page4/stripes4.png')}}"class="component"style="width: 100%; height: 100%; top: 0; left: 0;"> 
        <img src="{{ url_for('video_feed') }}" class="component"style="height: 100%; top: 0; left: 2%; width: 73%">
        <a href="{{ url_for('homescreen') }}">
            <img src="{{url_for('static', filename='page4/back.png')}}"class="component"style="top: 3%; left: 3.21%; width: 39px; height: 45px; transform: rotate(-90deg); transform-origin: center;">
        </a>

        <!--Speeltje-->
        <div id="speeltjeButton" class="component"style="width: 154px; height: 152px; top: 20%; left: 78.7%;">
            <img src="{{url_for('static', filename='page4/speeltje.png')}}" style="width: 100%; height: 100%; display: block;">
            <p class="redditblackish" style="position: absolute; top: 86.3%; left: 50%; font-size: 20px; margin: 0; transform: translate(-50%, -80%); white-space: nowrap;">Speeltje aan</p>
        </div>
        
        <!--Snoepje-->
        <div class="component" id="rotateButton" style="width: 154px; height: 152px; top: 60%; left: 78.7%;"> 
            <img src="{{url_for('static', filename='page4/snoepje.png')}}" style="width: 100%; height: 100%; display: block;">
            <p class="redditblackish" style="position: absolute; top: 87.8%; left: 50%; font-size: 20px; margin: 0; transform: translate(-50%, -80%); white-space: nowrap;">Geef snoepje</p>
        </div>

        <!--Snoepjesmenu-->
        <div id="snoepjeMenu" class="component"style="width: 154px; height: 312px; top: 20%; left: 78.7%; display: none;"> 
            <img src="{{url_for('static', filename='page4/snoepjemenu.png')}}" style="width: 100%; height: 100%; display: block;">
            <p class="redditblackish" style="position: absolute; top: 21.8%; left: 50%; font-size: 20px; margin: 0; transform: translate(-50%, -80%); width: 80%; text-align: center;">Geef 5de snoepje van de dag</p>
            <img id="cancelButton" src="{{url_for('static', filename='page4/annuleer.png')}}" style="position: absolute; top: 82%; left: 50%; width: 116px; height: 35px; transform: translate(-50%, -55%);">
        </div>

        <!--Speeltjesmenu-->
        <div id="speeltjeMenu" class="component"style="width: 166px; height: 312px; top: 20%; left: 78.2%; display: none;"> 
            <img src="{{url_for('static', filename='page4/speeltjemenu.png')}}" style="width: 100%; height: 100%; display: block;">
            <p class="redditblackish" style="position: absolute; top: 14.8%; left: 50%; font-size: 20px; margin: 0; transform: translate(-50%, -80%); width: 80%; text-align: center;">Speeltje geactiveerd</p>
            <img id="stopButton" src="{{url_for('static', filename='page4/stopnow.png')}}" style="position: absolute; top: 66%; left: 48%; width: 116px; height: 35px; transform: translate(-50%, -55%);">
            <div id="stoplaterButton" style="position: absolute; top: 85%; left: 48%; width: 116px; height: 61px; transform: translate(-50%, -55%);">
                <img src="{{url_for('static', filename='page4/stoplater.png')}}" style="width: 100%; height: 100%; display: block;">
                <input type="number" id="Input" min="1" max="999" placeholder="3" style="position: absolute; top: 76%; left: 29%; width: 25px; height: 20px; transform: translate(-50%, -55%); background: white; border: none; text-align: center; font-size: 14px; border-radius: 4px;">
            </div>
        </div>

        <!--Bevestiging-->
        <div id="confirmation" class="component" style="top: 5%; left: 37%; width: 346px; height: 51px; transform: translate(-50%, -150%); opacity: 0; transition: transform 0.5s ease, opacity 0.5s;">
            <img src="{{url_for('static', filename='page3/status.png')}}" style="width: 100%; height: 100%; display: block;">
            <p class="redditblackish" style="position: absolute; top: 50%; left: 50%; font-size: 22px; margin: 0; transform: translate(-50%, -60%); white-space: nowrap;">{{ session.get('dog_name', 'Max') }} kreeg een snoepje</p>
        </div>
        
        <!--Geluid-->
        <div class="component"style="top: 5%; left: 78.7%; width: 154px; height: 48px;">
            <img src="{{url_for('static', filename='page4/soundmenu.png')}}" style="width: 100%; height: 100%; display: block;">
            <img src="{{url_for('static', filename='page4/mic.png')}}" class="component"style="height: 33px; width: 36px; top: 12.1%; left: 16%;">
            <img src="{{url_for('static', filename='page4/volume.png')}}" class="component"style="height: 40px; width: 38px; top: 6%; left: 59.62%;">
        </div>
    </div>
</body>
