<!DOCTYPE html>
<html lang="nl-be">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphscreen</title>
    <link rel="stylesheet" href="{{url_for('static', filename='stylethree.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){

            function updateHeartrate() {
                $.get("/get_heartrate", function(data) {
                    if (data.heartrate !== undefined) {
                        $("#heartrateMain").text(data.heartrate);
                        $("#heartrateMini").text(data.heartrate);
                        updateArrowPosition(data.heartrate);
                    }
                });
            }

            setInterval(updateHeartrate, 1000);

            updateHeartrate();

            function updateArrowPosition(heartrate) {
                const arrow = document.getElementById("upArrow");

                const vrMin = 70;
                const vrMax = 110;
                const topMin = 49;
                const topMax = 31;

                let topPercent = (heartrate - vrMin) * (topMax - topMin) / (vrMax - vrMin) + topMin;

                topPercent = Math.max(22, Math.min(58, topPercent));

                arrow.style.top = topPercent + "%";
            } 
        });
    </script>
</head>

<body>
    <div class="app-box">
        <img src="{{url_for('static', filename='page3/stripes3.png')}}" class="component" style="top: 0%; left: 0%; width: 100%; height: 100%;">
        <a href="{{ url_for('homescreen') }}">
            <img src="{{url_for('static', filename='page5/slider.png')}}" class="component" style="top: 92.89%; left: 50%; width: 160px; height: 42px; transform: translateX(-50%);">
        </a>
        <img src="{{url_for('static', filename='page5/pop4.png')}}" class="component" style="top: 5.92%; left: 50%; width: 365px; height: 722px; transform: translateX(-50%);">
        <img src="{{url_for('static', filename='page5/pulse.png')}}" class="component" style="top: 10.07%; left: 69%; width: 82px; height: 90px;">
        <img src="{{url_for('static', filename='page10/graph.png')}}" class="component" style="top: 26%; left: 14%; width: 300px; height: 323px;">
        <img src="{{url_for('static', filename='page10/stats.png')}}" class="component" style="top: 71.8%; left: 50%; width: 342px; height: 151px; transform: translateX(-50%);">

        <a href="{{ url_for('pulsescreen') }}">
            <img src="{{url_for('static', filename='page10/left.png')}}" class="component" style="top: 43%; left: 7%; width: 17px; height: 30px;">
        </a>

        <p class="redditblackish" style="position: absolute; top: 72.7%; left: 50%; transform: translateX(-50%); font-size: 20px; margin: 0;">Aantal uur stress</p>
        <p class="redditblackish" style="position: absolute; top: 76%; left: 50%; transform: translateX(-50%); font-size: 20px; margin: 0;">Do</p>
        <p class="redditblackish" style="position: absolute; top: 76%; left: 21%; transform: translateX(-50%); font-size: 20px; margin: 0;">Woe</p>
        <p class="redditblackish" style="position: absolute; top: 76%; left: 79%; transform: translateX(-50%); font-size: 20px; margin: 0;">Vandaag</p>

        <p class="redditblackish" style="position: absolute; top: 81.3%; left: 79%; transform: translateX(-50%); font-size: 20px; margin: 0;">0 u 50</p>
        <p class="redditblackish" style="position: absolute; top: 81.3%; left: 50.3%; transform: translateX(-50%); font-size: 20px; margin: 0;">1 u 20</p>
        <p class="redditblackish" style="position: absolute; top: 81.3%; left: 21%; transform: translateX(-50%); font-size: 20px; margin: 0;">1 u 40</p>

        <p class="redditblackish" style="position: absolute; top: 22.5%; left: 80.5%; font-size: 20px; margin: 0;">Stress</p>
        <p class="redditblackish" style="position: absolute; top: 44.5%; left: 57%; font-size: 20px; margin: 0; transform: rotate(90deg);">Hoog&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Normaal&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Slapend</p>

        <p class="redditblackish" style="position: absolute; top: 65.3%; left: 6%; font-size: 20px; margin: 0;">Uur</p>
        <p class="redditblackish" style="position: absolute; top: 65%; left: 51.7%; transform: translateX(-50%); font-size: 23px; margin: 0;">8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13</p>

        <p class="redditblackish" style="position: absolute; top: 13%; left: 27%; font-size: 36px; margin: 0; transform: translate(-50%, -80%); white-space: nowrap;">Hartslag</p>
        <p id="heartrateMain" class="redditblackish" style="position: absolute; top: 20%; left: 16.5%; font-size: 48px; margin: 0; transform: translate(-50%, -80%); white-space: nowrap;">--</p>
        <p class="redditblackish" style="position: absolute; top: 20%; left: 34%; font-size: 26px; margin: 0; transform: translate(-50%, -80%); white-space: nowrap;">bpm</p>

    </div>
</body>